:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1F2937;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


a {
  font-weight: 500;
  color: #A78BFA;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #8B5CF6;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  color: #F9FAFB;
}

button {
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
